:root {
    --theme-color: #a59678;
    --dark-background: #3b4050;
    --white: #fff;
    --grey: #ccc;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

img {
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
    font-family: 'Oswald', sans-serif;
}

ul {
    list-style: none;
}

p {
    margin: 0.75rem 0;
}

section,
.header,
.footer {
    padding: 0 5%;
}

.container {
    max-width: 550px;
    margin: auto;
    padding: 1em;
}


/* .small-container {
    max-width: 400px;
    margin: auto;
} */

.txt-center {
    text-align: center;
}

.heading-theme {
    color: #a59678;
}

.d-flex {
    display: flex;
    justify-content: space-between;
}

.hero-text-p,
.side p,
.footer p,
li {
    color: var(--grey);
}


/* header */

.header {
    font-size: 1.125rem;
    font-family: 'Oswald', sans-serif;
    background: #2e323f;
    color: #fff;
    justify-content: space-between;
    align-items: center;
}

.btn-menu {
    cursor: pointer;
    width: 50px;
    background: none;
    border: none;
}

.btn-menu-svg {
    background: var(--theme-color);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.nav {
    display: none;
}

.nav-list {
    display: none;
    text-transform: uppercase;
}


/* hero section */

.hero {
    color: #fff;
    background: var(--dark-background);
}

.hero-heading {
    font-size: 4rem;
    line-height: 1.25;
}

.hero-text-p {
    font-size: 1.125rem;
}

.hero-text-btn {
    cursor: pointer;
    color: var(--white);
    font-size: 1.5rem;
    padding: 0.5em 1.5em;
    text-transform: uppercase;
    border: none;
    border-radius: 100px;
    background: var(--theme-color);
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}


/* features */

.features {
    background: #f1f1f1;
}


/* content */

.side {
    background: var(--dark-background);
    color: var(--white);
    padding: 1em;
}

.side:nth-child(2) {
    margin: 1em auto;
}


/* footer */

.footer {
    background: var(--dark-background);
    color: var(--white);
}

@media (min-width:700px) and (max-width:1000px) {
    html {
        font-size: 16px;
    }
    .container {
        max-width: 920px;
    }
    .hero-content {
        display: flex;
        justify-content: space-between;
    }
    .hero-heading {
        width: 45%;
    }
    .hero-text {
        align-self: flex-end;
        width: 50%;
    }
    .features>.container {
        display: flex;
        justify-content: space-between;
    }
    .feature {
        max-width: 28%;
    }
    .content-aside {
        display: flex;
        justify-content: space-between;
    }
    .side {
        max-width: 30%;
    }
    .side:nth-child(2) {
        margin: 0;
    }
    .footer-text {
        max-width: 50%;
        margin: auto;
    }
    .footer-links {
        display: flex;
        justify-content: space-around;
    }
}