:root {
    --theme-color: #a59678;
    --dark-background: #3b4050;
    --white: #fff;
    --grey: #ccc;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

body {
    font-family: 'Montserrat', sans-serif;
}

img {
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
    font-family: 'Oswald', sans-serif;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.4rem;
}

h5 {
    font-size: 1.17rem;
}

ul {
    list-style: none;
}

p {
    margin: 0.75rem 0;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

section,
.header,
.footer {
    padding: 1% 5%;
}

.container {
    max-width: 550px;
    margin: auto;
    padding: 1em;
}


/* .small-container {
    max-width: 400px;
    margin: auto;
} */

.txt-center {
    text-align: center;
}

.heading-theme {
    color: var(--theme-color);
}

.d-flex {
    display: flex;
    justify-content: space-between;
}

.hero-text-p,
.side p,
.footer p,
li {
    color: var(--grey);
}

.btn {
    cursor: pointer;
    color: var(--white);
    text-transform: uppercase;
    opacity: 0.9;
    border: none;
    border-radius: 100px;
    background: var(--theme-color);
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}

.signup-btn:hover,
.hero-text-btn:hover {
    opacity: 1;
}


/* header */

.header {
    font-size: 1rem;
    font-family: 'Oswald', sans-serif;
    background: #2e323f;
    color: var(--white);
    justify-content: space-between;
    align-items: center;
}

.btn-menu {
    cursor: pointer;
    width: 50px;
    background: none;
    border: none;
}

.btn-menu-svg {
    background: var(--theme-color);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}


/* .nav {
    position: relative;
    display: inline-block;
} */

.nav-list {
    display: none;
    /* position: absolute; */
    text-transform: uppercase;
}

.nav-list:last-child {
    margin-top: 1em;
}

.nav-list--item {
    margin-top: 0.3em;
}

.signup-btn {
    font-size: inherit;
    padding: 0.25em 1em;
}


/* hero section */

.hero {
    color: var(--white);
    background: var(--dark-background);
}

.hero-heading {
    font-size: 4rem;
    line-height: 1.25;
}

.hero-text-p,
.hero-text-btn {
    font-size: 1.5rem;
}

.hero-text-btn {
    margin: 1em 0;
    padding: 0.25em 1.5em;
}


/* features */

.features {
    background: #f1f1f1;
}


/* content */

.content {
    background: var(--white);
}

.article p {
    font-size: 1.17rem;
}

.side {
    background: var(--dark-background);
    color: var(--white);
    padding: 1.5em;
}

.side:nth-child(2) {
    margin: 1em auto;
}


/* footer */

.footer {
    background: var(--dark-background);
    color: var(--white);
}

.footer-heading {
    margin-bottom: 1em;
}

.footer-links h5 {
    margin-top: 1.5em;
}

.footer-nav-list-item {
    margin-top: 0.5em;
}


/* for medium size displays */

@media (min-width:700px) {
    html {
        font-size: 16px;
    }
    .container {
        max-width: 920px;
        padding: 4em 0;
    }
    .header .container {
        padding: unset;
    }
    .hero-content {
        display: flex;
        justify-content: space-between;
    }
    .hero-heading {
        font-size: 4.5rem;
        width: 45%;
    }
    .hero-text {
        align-self: flex-end;
        width: 50%;
    }
    .features>.container {
        display: flex;
        justify-content: space-between;
    }
    .feature {
        max-width: 28%;
    }
    .content-aside {
        display: flex;
        justify-content: space-between;
    }
    .side {
        max-width: 30%;
    }
    .side:nth-child(2) {
        margin: 0;
    }
    .footer-text {
        max-width: 50%;
        margin: auto;
    }
    .footer-links {
        display: flex;
        justify-content: space-around;
    }
}


/* for large size displays */

@media (min-width:1000px) {
    html {
        font-size: 18px;
    }
    .container {
        max-width: 1200px;
    }
    .btn-menu-container {
        display: none;
    }
    .nav-list {
        display: inline;
    }
    .nav-list+.nav-list {
        margin-left: 2rem;
    }
    .nav-list--item {
        display: inline;
    }
    .nav-list--item {
        margin-left: 0.5rem;
    }
    .hero-heading {
        font-size: 5rem;
    }
    .content>.container {
        display: flex;
        justify-content: space-between;
    }
    .content-aside {
        flex-direction: column;
    }
    .content-article {
        width: 60%;
    }
    .content-aside {
        width: 30%;
    }
    .side {
        max-width: 100%;
    }
    .side+.side {
        margin: 1em 0;
    }
    .footer-content {
        text-align: left;
        display: flex;
        justify-content: space-between;
    }
    .footer-content h5 {
        margin-top: 0;
    }
    .footer-text {
        width: 35%;
    }
    .footer-links {
        width: 60%;
    }
}